@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

:root {
    --body-bg: #151515;
    --contact-bg: #242424;
    --accent: #4ee1a0;
    --text1: #ffffff;
    --text2: #D9D9D9;
    --invalid: #ff6f5b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--body-bg);
    color: var(--text1);
    font-size: var(--fs-18);
    line-height: 1.56;
}

/*navbar*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #151515;
    z-index: 10;
    border-bottom: 1px solid var(--contact-bg);
    /* height: 4rem; */
}

.nav-logo {
    font-size: 1.8rem;
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    z-index: 10;
}

.nav-logo span {
    color: var(--accent);
}

.nav-logo .dash {
    color: var(--text1);
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    margin-left: 5rem;
    backdrop-filter: blur(64px);
    transition: top 500ms ease-in-out;
}

.ul_block {
    display: block;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: var(--text1);
}

nav ul a:hover,
nav ul a:focus {
    text-decoration: var(--accent) underline;
}

.nav-logo a:hover,
.nav-logo a:focus {
    color: var(--accent);
}

nav ul .resume {
    font-size: 1.2rem;
    padding: 0.4em 0.7em;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 0.5em;
    position: fixed;
    right: 1rem;
    top: 0.5rem;
}

nav ul .resume:hover {
    background-color: var(--accent);
    color: var(--text1);
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

nav ul .resume:focus {
    text-decoration: none;
}

nav li {
    display: inline-block;
    font-size: 1.3rem;
    margin-inline: 0.8rem;
    padding-bottom: 0;
}


/* hamburger */
.hamburger {
    display: none;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    right: 0.5rem;
    top: 0px;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: flex;
    }

    nav {
        height: 4rem;
    }

    nav ul {
        padding: 11rem 0;
        height: 100vh;
        /* display: none; */
        display: none;
        width: 100%;
        margin-left: 0;
    }

    .ul_block {
        /* display: block; */
        top: 0;
    }

    nav li {
        display: block;
        padding-bottom: 1.75rem;
    }

    nav ul .resume {
        position: static;
    }
}

/* main */

.header {
    color: var(--accent);
    text-align: center;
    font-size: 1.5rem;
}

.header .slash {
    color: var(--text1);
}

.pages {
    width: 100%;
    font-size: 1.1rem;
}

.pages h4 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: var(--text1);
}

.filler {
    height: 4.1rem;
    width: 100%;
}

/* home */

/* add this animation somewhere else
#home{
    animation: chngbg 5s infinite;
}
@keyframes chngbg{
    0%{background-color: #ee6055;}
    25%{background-color: #60d394;}
    50%{background-color: #aaf683;}
    75%{background-color: #ffd97d;}
    100%{background-color: #ff9b85;}
} */
#home {
    height: 91.5vh;
    display: flex;
    justify-content: space-around;
    padding-top: 16%;
}

#home .name {
    padding-bottom: 0.2rem;
    border-bottom: 0.3rem solid var(--accent);
    border-radius: 0.1rem;
    width: fit-content;
}

#home .home-id {
    font-size: 3.8rem;
    flex-basis: 47rem;
}

#home .i_am {
    font-size: 2.8rem;
}

#home .tags {
    color: var(--accent);
}

.social-list {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.socials {
    display: inline-block;
}

.socials:hover path {
    fill: #4ee1a0;
    transition: fill 250ms ease;
}

.scroll-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-sign .scroll {
    color: var(--accent);
    font-size: 2rem;
    max-width: 40px;
}

.scroll-sign #s2 {
    transform: translateY(-4rem);
}

.scroll-sign #s1 {
    animation: updown 1s alternate infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(-2rem);
    }
}

@media only screen and (max-width: 900px) {
    #home .home-id {
        padding-left: 1.2rem;
    }

    #home .social-list {
        padding-right: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    #home {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 20rem 5rem;
    }

    #home .home-id {
        font-size: 2.2rem;
        padding-top: 30%;
    }

    #home .i_am {
        font-size: 1.8rem;
    }

    #home .social-list {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10%;
    }

    .scroll-sign #s2 {
        transform: translateY(-5rem);
    }

    .scroll-sign #s1 {
        animation: updown 1s alternate infinite;
    }

    @keyframes updown {
        0% {
            transform: translateY(-3rem);
        }

        100% {
            transform: translateY(-2.5rem);
        }
    }
}

.scroll-sign .scroll:hover {
    cursor: default;
}

/* about section */

#about {
    min-height: 90vh;
}

#about .filler {
    background-image: url(resources/about-filler.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

#about .header {
    padding-top: 1.8rem;
}

#about .details {
    padding: 1rem 3rem;
    text-align: justify;
    line-height: 1.8rem;
    background-color: var(--contact-bg);
    border-radius: 1rem;
    margin: 1rem 2rem;
}

#about .details h2 {
    padding: 2rem 0;
}

#about .details p {
    color: var(--text2);
}

#about .nickname,
#about .motive {
    color: var(--accent);
}

#about .connect {
    border: 2px solid var(--accent);
    border-radius: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-inline: 1rem;
    width: max-content;
    height: 3rem;
    font-size: 1.1rem;
    background-color: var(--contact-bg);
    color: var(--text1)
}

#about a {
    text-decoration: none;
}

#about a:hover,
#about .connect:hover {
    background-color: var(--accent);
    color: var(--text1);
}

#about .connect:hover {
    cursor: pointer;
}

@media screen and (max-width:500px) {
    #about .details {
        text-align: left;
        padding: 1rem 1.5rem;
        margin: 1rem 1.5rem;
    }
}

/* skills */
#skills {
    min-height: 90vh;
}

#skills h4 {
    margin-bottom: 0.8rem;
}

#skills .filler {
    background-image: url(resources/skills-filler.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

#skills .container {
    display: grid;
    row-gap: 2rem;
    text-align: center;
}

#skills .skill-me {
    padding-inline: 3rem;
}

.skill-list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: var(--contact-bg);
    margin-bottom: 1rem;
}

.skill-list div {
    padding: 0.5rem 0.8rem;
    text-align: left;
}

.skill-list h2 {
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1.5px solid var(--accent);
}

.skill-title {
    font-size: 1.2rem;
}

.skill-description {
    font-size: 0.9rem;
}

@media screen and (max-width:600px) {
    .skill-list {
        flex-direction: column;
        row-gap: 2rem;
    }

    .skill-list div {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* experience */
#experience .filler {
    background-image: url(resources/exp-filler.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#experience .filler button {
    border: 2px solid var(--accent);
    border-radius: 0.4rem;
    padding-inline: 1rem;
    width: max-content;
    height: 3rem;
    font-size: 1.1rem;
    background: #24242478;
    color: #fff;
}

#experience .filler a {
    text-decoration: none;
}

#experience .filler a:hover,
#experience .filler button:hover {
    background-color: #4ee19fc5;
    border-radius: 0.4rem;
    color: var(--text1);
}

#experience .filler button:hover {
    cursor: pointer;
}


/* poftolio */

#portfolio ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#portfolio li:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    cursor: pointer;
}

/* contact */
#contact {
    /* border: 2px solid red; */
    padding-top: 2vh;
    min-height: 78vh;
    background-color: var(--contact-bg);
    border-radius: 1rem 1rem 0 0;
}

#contact form {
    display: grid;
    grid-template-columns: auto;
    margin-left: 5rem;
    grid-auto-rows: minmax(4rem, auto);
    row-gap: 1rem;
    position: relative;
}

#contact label {
    font-size: 1rem;
    position: absolute;
    padding-inline: 0.5rem;
    background-color: var(--contact-bg);
}

#contact #fname-label {
    left: 1rem;
    top: -0.75rem;
}

#contact #mail-label {
    left: 1rem;
    top: 4.2rem;
}

#contact #msg-label {
    left: 1rem;
    bottom: 6.9rem;
}

#contact input {
    height: 2.5rem;
    border-radius: 0.4rem;
    caret-color: var(--accent);
    color: var(--text1);
    border: 0.1rem solid var(--text2);
    font-size: inherit;
    background: none;
    font-family: inherit;
    padding: 0.4rem 1.5rem;
}

#contact #msg {
    font-family: inherit;
    background: none;
    border-radius: 0.4rem;
    caret-color: var(--accent);
    color: var(--text1);
    border: 0.1rem solid var(--text2);
    font-size: inherit;
    background: none;
    font-family: inherit;
    padding-top: 0.4rem;
    padding-left: 1.35rem;
    resize: none;
}

#contact input:focus {
    background-color: var(--contact-bg);
    color: var(--text1);
}

#contact input:invalid,
#contact textarea:invalid {
    border: 0.1rem solid var(--invalid);
}

#contact .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact .container p {
    text-align: center;
    width: 25%;
}

@media screen and (max-width: 830px) {
    #contact .container {
        flex-direction: column;
        row-gap: 2rem;
    }

    #contact .container p {
        width: 70%;
    }

    #contact form {
        padding-inline: 2rem;
        margin-bottom: 2rem;
        margin-inline: auto;
    }

    #contact #fname-label {
        left: 3rem;
    }

    #contact #mail-label {
        left: 3rem;
    }

    #contact #msg-label {
        left: 3rem;
    }
}

/* footer */

footer {
    height: 9vh;
    background-color: var(--contact-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1.2px solid var(--body-bg);
}

footer .socials {
    display: none;
}

footer .trademark {
    display: inline-block;
    height: 8vh;
    width: 8vh;
    background-size: contain;
    border-radius: 50%;
    outline: 2px solid #4ee1a0;
}

footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line {
    height: 2px;
    width: 10vw;
    background-color: #4ee1a0;
}

.footer-end-line {
    height: 2px;
    width: 5vw;
    background-color: #4ee1a0;
}

@media screen and (max-width: 600px) {
    .footer-end-line {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .footer-end-line {
        display: none;
    }

    .footer-line {
        display: none;
    }
}

@media screen and (min-width: 750px) {
    footer .trademark {
        height: 10vh;
        width: 10vh;
    }

    footer {
        height: 11vh;
    }
}